{{define "stakingcalculator"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" printf "Staking Calculator"}}
  {{template "navbar" . }}
  <div class="container main" data-controller="stakingcalculator">
    <span class="text-secondary fs13">From:</span>
    <input data-target="stakingcalculator.startDate" type="date" min="2020-07-22">
    <span class="text-secondary fs13">To:</span>
    <input data-target="stakingcalculator.endDate" type="date" min="2020-07-22">
    <button data-action="click->stakingcalculator#computeStake">Calculate</button>
    <span data-target="stakingcalculator.output"></span><br><br>
    <span data-target="stakingcalculator.currentTicketPrice">Current ticket price: {{.Info.StakeDiff}}</span>
</div>
{{ template "footer" . }}
</body>
</html>
{{end}}